<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Productos')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Product')}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2 th:text="${product.id == null ? 'Nuevo Producto' : 'Editar Producto'}"></h2>
                    <hr/>
                    <form th:action="@{'/producto/save'}" method="post" th:object="${product}">
                        <input th:field="*{id}" type="hidden"/>

                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{name}" id="name"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label">Precio</label>
                            <input type="text" class="form-control" th:field="*{price}" id="price"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="stock" class="form-label">Stock</label>
                            <input type="number" class="form-control" th:field="*{stock}" id="stock"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
                        </div>

                        <a th:href="@{'/producto'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary" th:text="${product.id == null ? 'Registrar' : 'Actualizar'}"></button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>