<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}"></head>

<body>
    <main>
        <div class="container px-4 pb-5">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Product')}"></nav>
            <h1 class="pb-2 border-bottom">Sistema de Facturación Electrónica</h1>
            <div th:if="${msg}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <a class="btn btn-primary mb-4" th:href="@{/producto/new}">Nuevo producto</a>
            <table class="table table-sm table-striped align-middle">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productList}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.stock}"></td>
                    <td><a class="btn btn-primary"
                           th:href="@{/producto/edit/{id}(id=${product.id})}">Editar</a>
                    </td>
                    <td><a class="btn btn-danger"
                           th:href="@{'/producto/delete' + '?id=' + ${product.id}}">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>