<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}">/head>

<body>
        <main>
            <div class="container px-4 pb-5">
                <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Employee')}"></nav>
                <h1 class="pb-2 border-bottom">Sistema de Facturación Electrónica</h1>
                <a class="btn btn-primary mb-4" th:href="@{/new}">Nuevo cliente</a>
                <table class="table table-sm table-striped align-middle">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Tipo de documento</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee, info : ${employeeList}">
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.document}"></td>
                        <td th:text="${employee.documentType}"></td>
                        <td><a class="btn btn-primary"
                               th:href="@{/edit/{id}(id=${employee.id})}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger"
                               th:href="@{/delete/{id}(id=${employee.id})}">Borrar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
